/* Set the defaults */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #a2a2a2;
}

.header {
  background-color: rgb(124, 116, 116);
}

.nav-bar {
  display: flex;
  list-style: none;
  padding: 20px 10px;
  height: 200px;
}

.nav-items {
  flex: 0 1 20%;
  background-color: rgb(63, 62, 62);
  height: 105px;
  align-items: center;
  font-family: Mija, sans-serif, serif;
  font-size: 23.8762px;
  font-weight: 700;
  line-height: 28.6514px;
  color: rgb(248, 244, 244);
  text-align: center;
  padding-top: 50px;
}

.logo {
  margin-left: 4%;
  background-color: white;
  width: 8%;
  display: inline-block;
  height: 80px;
  align-self: center;
  color: rgb(75, 67, 67);
  padding-top: 35px;
}

.topics {
  margin-right: 4%;
  background-color: rgb(228, 220, 220);
  width: 8%;
  display: inline-block;
  height: 80px;
  align-self: center;
  padding-top: 35px;
}

.nav {
  align-self: center;
}

.nav-span {
  font-style: italic;
  font-size: 12px;
}

.first_sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.first_sec1 {
  display: grid;
  background-color: #d4d4d4;
  height: 700px;
}

.first_sec2 {
  background-color: #b4b4b4;
  height: 700px;
}

.first_sec3 {
  background-color: #909090;
  height: 600px;
}

.first_sec4 {
  background-color: #636363;
  height: 600px;
}

.miss {
  z-index: 10;
}

.latest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.latest1 {
  padding: 40px;
  text-align: justify;
  height: 500px;
}

.friends {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.friends1 {
  text-align: justify;
  height: 500px;
  padding-top: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.another {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.another2 {
  height: 500px;
  padding: 40px;
}

.ant1 {
  background-color: #8b8b8b;
}

.ant2 {
  background-color: #959595;
}

.ant3 {
  background-color: #777777;
}

.ant4 {
  background-color: #373636;
}

.ant5 {
  background-color: #909090;
}

.ant6 {
  background-color: #7E7E7E;
}

.ant7 {
  background-color: #838383;
}

.ant8 {
  background-color: #444343;
}

.ant9 {
  background-color: #464646;
}

.new-smashingtv {
  position: relative;
  border-radius: 10px;
  height: 620px;
  width: 100%;
  background-color: rgb(122, 107, 107);
  padding: 10px;
}

.latest_article {
  clear: both;
  background-color: rgb(196, 193, 193);
  height: 200px;
  border: 3px solid rgb(196, 193, 193);
  z-index: -1;

  /* padding-top: 0; */

  /* margin-top: 0; */
}

.latest_article .latest_article-para {
  text-transform: uppercase;
  text-decoration: gray;
  text-align: center;
}
